body,html{
	font-family: "Arial", sans-serif;
	color: black;
	margin: 0;
	padding: 0;
	text-align:center;
	font-size: 0.95em;
}

.format {
  	font-family: sans-serif;
  	position: absolute;
    margin: auto;
    display: block;
	margin: auto;
	text-align:center;
}

.chart{
	background-color: #F5F2EB;
	border: 1px solid #CCC;
}

.inline{
	display: block;
	margin: auto;
}

.bar{
	fill: purple;
	shape-rendering: crispEdges;
}

.bar-label{
	color: black;
}

svg {
    display: block;
    margin: 0 auto;
}


.Axis path,
.Axis line {
  stroke: #E0E0E0;
}

.Axis text {
  font-size: 11px;
  fill: black;
}

.Axis-Bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
}